# Eclipse project files
/.buildpath
/.classpath
/.project
/.settings/

# Metadata folder
/.metadata/

# Temporary files
*.tmp
*.bak

# Composer files
*.lock
*.phar

# Invalid files
*-old.*
*-new.*
*-test.*

# Configuaration files
.env
.ENV
*.ini
*.cfg
*.conf

# Log files
*.log

/vendor/
/public/fontawesome/
